.container {
  max-width: 1050px;
  margin: auto;
}

.search-and-select {
  padding: 15px 15px 0 15px;
  background-color: #fafafa;
}

.h-center {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.details-header {
  padding-top: 15px;
}

.back-button {
  padding-right: 15px;
}

.details-header-title-area {
  display: flex;
}

.details-header-title-area .back-button {
  margin-right: 15px;
}
